<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solvd.laba.itcompany.persistence.MeetingRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="solvd.laba.itcompany.domain.Meeting">
        INSERT INTO Meetings (project_id, meeting_date, duration)
        VALUES (#{project.id}, #{meetingDate}, #{duration});
    </insert>

</mapper>
