<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solvd.laba.itcompany.persistence.ProjectRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="solvd.laba.itcompany.domain.Project">
        INSERT INTO Projects (project_name, client_id)
        VALUES (#{projectName}, #{client.id});
    </insert>

    <select id="findById" resultMap="projectResultMap" parameterType="long">
        SELECT * FROM Projects WHERE id = #{id};
    </select>

    <select id="findAll" resultMap="projectResultMap">
        SELECT * FROM Projects;
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM Projects WHERE id = #{id};
    </delete>

    <resultMap id="projectResultMap" type="solvd.laba.itcompany.domain.Project" autoMapping="false">
        <id property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <association property="client" column="client_id"
                     javaType="solvd.laba.itcompany.domain.Client"
                     select="solvd.laba.itcompany.persistence.ClientRepository.findById"
                     fetchType="eager">
        </association>
    </resultMap>

</mapper>
