<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solvd.laba.itcompany.persistence.ProjectRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="solvd.laba.itcompany.domain.Project">
        INSERT INTO Projects (project_name, client_id)
        VALUES (#{projectName}, #{client.id});
    </insert>

    <select id="findById" resultMap="projectResultMap" parameterType="long">
        SELECT * FROM Projects WHERE id = #{id};
    </select>

    <select id="findAll" resultMap="projectResultMap">
        SELECT * FROM Projects;
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM Projects WHERE id = #{id};
    </delete>

    <insert id="addService" parameterType="Map">
        INSERT INTO Project_Services (project_id, service_id)
        VALUES (#{projectId}, #{serviceId});
    </insert>

    <select id="findServicesByProjectId" resultMap="serviceResultMap" parameterType="long">
        SELECT Service.* FROM Service
                 JOIN Project_Services ON Service.id = Project_Services.service_id
        WHERE Project_Services.project_id = #{projectId};
    </select>

    <resultMap id="serviceResultMap" type="solvd.laba.itcompany.domain.Service" autoMapping="false">
        <id property="id" column="id"/>
        <result property="serviceName" column="service_name"/>
        <result property="description" column="description"/>
        <result property="cost" column="cost"/>
    </resultMap>

    <resultMap id="projectResultMap" type="solvd.laba.itcompany.domain.Project" autoMapping="false">
        <id property="id" column="id"/>
        <result property="projectName" column="project_name"/>
        <association property="client" column="client_id"
                     javaType="solvd.laba.itcompany.domain.Client"
                     select="solvd.laba.itcompany.persistence.ClientRepository.findById"
                     fetchType="eager">
        </association>
        <collection property="services" ofType="solvd.laba.itcompany.domain.Service" column="id" javaType="java.util.List"
                    select="solvd.laba.itcompany.persistence.ProjectRepository.findServicesByProjectId" fetchType="eager"/>
    </resultMap>

</mapper>
