<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="solvd.laba.itcompany.persistence.ServiceRepository">

    <insert id="create" parameterType="solvd.laba.itcompany.domain.Service">
        INSERT INTO Services (service_name, description, cost)
        VALUES (#{serviceName}, #{description}, #{cost});
    </insert>

    <select id="findAll" resultMap="serviceResultMap">
        SELECT * FROM Services;
    </select>

    <resultMap id="serviceResultMap" type="solvd.laba.itcompany.domain.Service" autoMapping="false">
        <id property="id" column="id"/>
        <result property="serviceName" column="service_name"/>
        <result property="description" column="description"/>
        <result property="cost" column="cost"/>
    </resultMap>

</mapper>
